@page "/sponsor"

<h1>Sponsors</h1>
<a href="https://ingressive.org">
<img src="https://ingressive.org/wp-content/uploads/2020/05/I4G-Logo-Color-Cropped.png" 
width="500" height="121" alt="Ingressive 4 Good"> </a>
<br />
<br />
<a href="https://hng.tech">
<img src="https://hng.tech/img/brand-logo.png" width="500" height="121" alt="HNG Internship">
</a>
@* <p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
 *@